In [1]:
DOMAIN = 'test' # test, spouse, semparse_cdr

In [2]:
import sys
import os

os.environ['SNORKELDB'] = 'postgres:///{}'.format(DOMAIN)

from snorkel import SnorkelSession
session = SnorkelSession()

from snorkel.models import candidate_subclass
if DOMAIN in ['test', 'spouse']:
    Spouse = candidate_subclass('Spouse', ['person1', 'person2'])
    candidate_class = Spouse
elif DOMAIN == 'semparse_cdr':
    ChemicalDisease = candidate_subclass('ChemicalDisease', ['chemical', 'disease'])
    candidate_class = ChemicalDisease
else:
    raise Exception("Invalid DOMAIN.")

In [3]:
candidates = session.query(candidate_class).all()
print("Candidates: {}".format(len(candidates)))

Candidates: 45

In [4]:
from snorkel.semantic import (get_left_phrases, get_right_phrases, 
                              get_between_phrases, get_sentence_phrases)
c = candidates[1]
print c[0].get_parent()._asdict()['text']
print c

David Beckham already had four other perfumes, two of which also had a women's version fronted by his lovely wife Victoria Beckham.
Spouse(Span("Victoria Beckham", sentence=673, chars=[114,129], words=[22,23]), Span("David Beckham", sentence=673, chars=[0,12], words=[0,1]))

In [5]:
for p in get_left_phrases(c[0], cmp='.eq', num=1, n_max=1):
    print getattr(p, 'text')

wife

In [6]:
# c[0].get_parent()._asdict()

In [7]:
# from snorkel.viewer import SentenceNgramViewer
# sv = SentenceNgramViewer(candidates[:300], session)
# sv

David Beckham already had four other perfumes, two of which also had a women's version fronted by his lovely wife Victoria Beckham.

In [8]:
# c = sv.get_selected()
# print c
# print c[0].get_parent()._asdict()['pos_tags']
# print c[0].get_parent()._asdict()['ner_tags']

In [9]:
# hash(c)

In [10]:
from semparse_examples import get_examples

examples = get_examples(DOMAIN, candidates)

if DOMAIN == 'test':
    user_lists = {
        'colors':['red','green','blue'],
        'bluebird':['blue','bird','fly'],
        'greek':['alpha','beta','gamma'],
        'letters':['a','B','C'],
        'smalls':['a','b','c','d'],
        'spouse':['wife','husband','spouse']}
elif DOMAIN == 'spouse':
    user_lists = {
        'spouse':['wife','husband','spouse'],
        'family':['father', 'mother', 'brother', 'sister']}
elif DOMAIN == 'semparse_cdr':
    user_lists = {}

In [11]:
# examples[0].display()

In [12]:
# examples[28].candidate[0].get_parent()

In [13]:
%time from snorkel.semantic import SemanticParser

CPU times: user 14 µs, sys: 22 µs, total: 36 µs
Wall time: 17.9 µs

In [14]:
%time sp = SemanticParser(candidate_class, user_lists, absorb=False)

Created grammar with 246 rules
CPU times: user 4.45 ms, sys: 6.07 ms, total: 10.5 ms
Wall time: 12.8 ms

In [15]:
%time results = sp.evaluate(examples, show_explanation=True, show_all=False, only=[])
results

Example 0: label True because True
Example 1: label True because True and True
Example 2: label True because False or True
Example 3: label True because not False
Example 4: label True because 'yes' equals 'yes'
Example 5: label True because 1 is equal to 1
Example 6: label True because 1 is equal to one
Example 7: label True because 1 is less than 2
Example 8: label True because 2 is less than or equal to 2
Example 9: label True because 2 > 1
Example 10: label True because 2 is at least 2
Example 11: label True because arg 1 is lowercase
Example 12: label True because arg 1 is upper case
Example 13: label True because arg 1 is capitalized
Example 14: label True because the word 'blueberry' starts with 'blue'
Example 15: label True because the word 'blueberry' ends with 'berry'
Example 16: label True because argument 1 equals 'foo'
Example 17: label True because 'bar' is in 'foobarbaz'
Example 18: label True because the word 'foobarbaz' contains 'oobarba'
Example 19: label True because arg 2 equals 'foo', 'bar', or 'baz'
Example 20: label True because 'blue' in colors
Example 21: label True because 'blue' or 'shmoo' is in colors
Example 22: label True because 'blue' ends with 'moe' or 'lue'
Example 23: label True because 'blue' and 'red' are in colors
Example 24: label True because 'blue' contains 'l' and 'u'
Example 25: label True because 'wife' is in the words left of arg 1
Example 26: label True because 'wife' is in the words to the right of arg 2
Example 27: label True because 'wife' is in the words between arg 1 and arg 2
Example 28: label True because "wife" is in the sentence
Example 29: label True because arg 2 is left of arg 1
Example 30: label True because arg 1 is right of arg 2
Example 31: label True because 'wife' is one word to the left of arg 1
Example 32: label True because arg 2 is more than three words to the left of arg 1
Example 33: label True because not arg 2 is more than fifty words to the left of arg 1
Example 34: label True because 'wife' is between arg 1 and arg 2
Example 35: label True because 'wife' is less than 10 characters to the left of arg 1
Example 36: label True because 'wife' is more than 20 characters to the right of arg 2
Example 37: label True because 'wife' is immediately to the left of arg 1
Example 38: label True because at least one word to the left of arg 1 is lower case
Example 39: label True because at least one noun exists between arg 1 and arg 2
Example 40: label True because there are no people between arg 1 and arg 2
Example 41: label True because there are not three people in the sentence
Example 42: label True because the number of words between arg 1 and arg 2 is less than 25
Example 43: label True because there are more than 3 words between arg 1 and arg 2
Example 44: label True because at least one word exists between arg 1 and arg 2
Example 45: label True because there are two nouns to the left of arg 1
Example 46: label True because there are less than three nouns to the left of arg 1
Example 47: label True because there are not more than two nouns to the left of arg 1
Example 48: label True because at least one word to the left of arg 1 starts with a spouse word
Example 49: label True because all of the colors are lowercase
Example 50: label True because any of the letters are lowercase
Example 51: label True because none of the smalls are capitalized
CPU times: user 173 ms, sys: 31.2 ms, total: 204 ms
Wall time: 393 ms

           Correct  Incorrect  Redundant  Failed  Unknown
Example0         1          0          0       0        0
Example1         1          0          0       0        0
Example2         1          0          0       0        0
Example3         1          0          0       0        0
Example4         1          0          0       0        0
Example5         1          0          0       0        0
Example6         1          0          0       0        0
Example7         1          0          0       0        0
Example8         1          0          0       0        0
Example9         1          0          0       0        0
Example10        1          0          0       0        0
Example11        1          0          0       0        0
Example12        1          0          0       0        0
Example13        1          0          0       0        0
Example14        1          0          0       0        0
Example15        1          0          0       0        0
Example16        1          0          0       0        0
Example17        1          0          0       0        0
Example18        1          0          0       0        0
Example19        1          2          0       0        0
Example20        2          0          0       0        0
Example21        2          2          0       0        0
Example22        1          1          0       0        0
Example23        2          2          0       0        0
Example24        1          1          0       0        0
Example25        1          0          1       0        0
Example26        1          0          1       0        0
Example27        1          0          1       0        0
Example28        1          0          0       0        0
Example29        1          0          0       0        0
Example30        1          0          0       0        0
Example31        1          0          0       0        0
Example32        1          0          0       0        0
Example33        1          0          0       0        0
Example34        1          0          0       0        0
Example35        1          0          0       0        0
Example36        1          0          0       0        0
Example37        1          0          0       0        0
Example38        1          0          1       0        0
Example39        1          0          0       0        0
Example40        1          0          0       0        0
Example41        1          0          0       0        0
Example42        1          0          1       0        0
Example43        1          0          1       0        0
Example44        1          0          0       0        0
Example45        1          0          0       0        0
Example46        1          0          0       0        0
Example47        1          0          0       0        0
Example48        1          0          1       0        0
Example49        1          0          0       0        0
Example50        1          0          0       0        0
Example51        1          0          0       0        0

In [16]:
import numpy as np
print np.sum(results, axis=0)

Correct      55
Incorrect     8
Redundant     7
Failed        0
Unknown       0
dtype: int64

In [17]:
# sp.grammar.print_chart(nested=True)

In [18]:
# sp.grammar.print_grammar()