In [1]:
DOMAIN = 'test' # test, spouse, cdr

In [2]:
import sys
import os

if DOMAIN == 'cdr':
    os.environ['SNORKELDB'] = 'postgres:///semparse_cdr'

from snorkel import SnorkelSession
session = SnorkelSession()

from snorkel.models import candidate_subclass
if DOMAIN in ['test', 'spouse']:
    Spouse = candidate_subclass('Spouse', ['person1', 'person2'])
    candidate_class = Spouse
elif DOMAIN == 'cdr':
    ChemicalDisease = candidate_subclass('ChemicalDisease', ['chemical', 'disease'])
    candidate_class = ChemicalDisease
else:
    raise Exception("Invalid DOMAIN.")

In [3]:
candidates = session.query(candidate_class).filter(candidate_class.split == 0).all()
print("Candidates: {}".format(len(candidates)))

Candidates: 65

In [4]:
from snorkel.semantic import (get_left_tokens, get_right_tokens, 
                              get_between_tokens, get_sentence_tokens)
c = candidates[0]
# print c[0].get_parent()._asdict()['ner_tags']
# print get_left_tokens(c[0])
# print [getattr(t, 'words') for t in get_left_tokens(c[0])]

In [5]:
# from snorkel.viewer import SentenceNgramViewer
# sv = SentenceNgramViewer(candidates[:300], session)
# sv

In [6]:
# c = sv.get_selected()
# print c

In [7]:
# hash(c)

In [8]:
from semparse_examples import get_examples

examples = get_examples(DOMAIN, candidates)

if DOMAIN == 'test':
    user_lists = {
        'colors':['red','green','blue'],
        'bluebird':['blue','bird','fly'],
        'greek':['alpha','beta','gamma'],
        'letters':['a','B','C'],
        'smalls':['a','b','c','d'],
        'spouse':['wife','husband','spouse']}
elif DOMAIN == 'spouse':
    user_lists = {
        'spouse':['wife','husband','spouse'],
        'family':['father', 'mother', 'brother', 'sister']}
elif DOMAIN == 'cdr':
    user_lists = {}

In [9]:
# examples[0].display()

In [10]:
# examples[28].candidate[0].get_parent()

In [11]:
%time from snorkel.semantic import SemanticParser

CPU times: user 17 µs, sys: 2 µs, total: 19 µs
Wall time: 172 µs

In [12]:
%time sp = SemanticParser(candidate_class, user_lists, absorb=True)

Created grammar with 254 rules
CPU times: user 3.58 ms, sys: 4.2 ms, total: 7.79 ms
Wall time: 21 ms

In [13]:
%time results = sp.evaluate(examples, show_explanation=True, show_all=False, only=[])
results

Example 0: label True because True
Example 1: label True because True and True
Example 2: label True because False or True
Example 3: label True because not False
Example 4: label True because 'yes' equals 'yes'
Example 5: label True because 1 is equal to 1
Example 6: label True because 1 is equal to one
Example 7: label True because 1 is less than 2
Example 8: label True because 2 is less than or equal to 2
Example 9: label True because 2 > 1
Example 10: label True because 2 is at least 2
Example 11: label True because arg 1 is lowercase
Example 12: label True because arg 1 is upper case
Example 13: label True because arg 1 is capitalized
Example 14: label True because the word 'blueberry' starts with 'blue'
Example 15: label True because the word 'blueberry' ends with 'berry'
Example 16: label True because argument 1 is 'foo'
Example 17: label True because 'bar' is in 'foobarbaz'
Example 18: label True because the word 'foobarbaz' contains 'oobarba'
Example 19: label True because arg 2 is 'foo', 'bar', or 'baz'
Example 20: label True because 'blue' in colors
Example 21: label True because 'blue' or 'shmoo' is in colors
Example 22: label True because 'blue' ends with 'moe' or 'lue'
Example 23: label True because 'blue' and 'red' are in colors
Example 24: label True because 'blue' contains 'l' and 'u'
Example 25: label True because 'wife' is in the words left of arg 2
Example 26: label True because 'wife' is in the words to the right of arg 1
Example 27: label True because 'wife' is between arg 1 and arg 2
Example 28: label True because the word "wife" is in the sentence
Example 29: label True because a word to the left of arg 2 is lower case
Example 30: label True because a noun is between arg 1 and arg 2
Example 31: label True because there is one noun to the left of arg 1
Example 32: label True because there are less than two nouns to the left of arg 1
Example 33: label True because there are not more than two nouns to the left of arg 1
Example 34: label True because there are no people between arg 1 and arg 2
Example 35: label True because the number of words between arg 1 and arg 2 is less than 20
Example 36: label True because there are more than 3 words between arg 1 and arg 2
Example 37: label True because a word is between arg 1 and arg 2
Example 38: label True because there is at least one word from colors in the bluebird words
Example 39: label True because less than two colors words are in bluebird
Example 40: label True because all of the colors are lowercase
Example 41: label True because any of the letters are lowercase
Example 42: label True because none of the smalls are capitalized
Example 43: label True because there are no colors words in the greek words
Example 44: label True because at least one word to the left of arg 2 starts with a spouse word
CPU times: user 3.6 s, sys: 81.9 ms, total: 3.68 s
Wall time: 4.03 s

           Correct  Incorrect  Redundant  Failed  Unknown
Example0         1          0          0       0        0
Example1         2          0          1       0        0
Example2         2          1          0       0        0
Example3         1          1          0       0        0
Example4         1          0          0       0        0
Example5         1          0          4       0        0
Example6         1          0          4       0        0
Example7         1          1          3       0        0
Example8         4          2         20       0        0
Example9         1          0          0       0        0
Example10        2          1          2       0        0
Example11        1          0          1       0        0
Example12        1          0          3       0        0
Example13        1          0          1       0        0
Example14        1          0          0       0        0
Example15        1          0          0       0        0
Example16        1          0          0       0        0
Example17        1          1          1       0        0
Example18        1          0          0       0        0
Example19       11         26        210       0        0
Example20        1          0          0       0        0
Example21        1          9          5       0        0
Example22        2          8          5       0        0
Example23        2          8          5       0        0
Example24        1          5          1       0        0
Example25        2          2          5       0        0
Example26        2          2          7       0        0
Example27        1          2         22       0        0
Example28        1          0          1       0        0
Example29       16          2         56       0        0
Example30        7          3        101       0        0
Example31        2          6         26       0        0
Example32        4         14        118       0        0
Example33       10         18        176       0        0
Example34        3          6         11       0        0
Example35       12          7         72       0        0
Example36       10          9         69       0        0
Example37        7          1        100       0        0
Example38        5          3        724       0        0
Example39        2          4         36       0        0
Example40        1          0          1       0        0
Example41        1          0          1       0        0
Example42        1          0          1       0        0
Example43        3          4         73       0        0
Example44       12          0       6328       0        0

In [14]:
import numpy as np
print np.sum(results, axis=0)

Correct       145
Incorrect     146
Redundant    8194
Failed          0
Unknown         0
dtype: int64

In [15]:
# sp.grammar.print_chart(nested=True)

In [16]:
# sp.grammar.print_grammar()